$primary-font:     BigNoodleTitling;
$secondary-font:   Lato;
$primary-color:    #FF4541;
$background-color: #fff9e7;
$text-color:       #fafafa;

$break-small: 320px;
$break-large: 720px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

@mixin display-flex() {
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  flex-direction:         $direction;
}

@mixin align-items($al) {
  -webkit-align-items: $al;
  align-items:         $al;
}

@mixin justify-content($al) {
  -webkit-justify-content: $al;
  justify-content:         $al;
}

@mixin background-size($sz) {
  background-size: $sz;
}

.BigNoodleTitling {
  font-family: BigNoodleTitling;
  font-weight: normal;
  font-style: normal;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  font-family: $primary-font;
  background-color: $background-color;
}

h1 {
  object-fit: contain;
  font-size: 2em;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.96;
  letter-spacing: normal;
  color: $primary-color;
  text-align: center;
}

h2 {
  object-fit: contain;
  font-size: 4em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -1px;
  text-align: center;
  color: $text-color;
}

h3 {
  width: 50%;
  font-size: 5em;
  line-height: 0.93;
  line-height: 1.06;
  text-align: center;
  color: $primary-color;
  text-align: center;
  margin-bottom: 2vh;
  margin-top: 0vh;
  @include respond-to(handhelds) {
    width: 80%;
    font-size: 2.5em;
  }
  @include respond-to(medium-screens) {
    width: 80%;
    font-size: 2.5em;
  }
}

h4 {
  object-fit: contain;
  font-size: 1.6em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  margin-top: 5px;
  margin-bottom: 5px;
}

h5 {
  object-fit: contain;
  font-size: 3.2em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: -1px;
  text-align: center;
  color: #182224;
  margin: 5px
}

a {color: $text-color;}
a:visited {color: $text-color;}
a:hover {color: $primary-color;}
a:active {color: $text-color;}
a.btn {
  text-decoration: none;
}

.flex-container {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  overflow-x: hidden;
  font-size: 15px;
  height: auto;
  @include respond-to(handhelds) {
    font-size: 14px;
  }
  @include respond-to(medium-screens) {
    font-size: 14px;
  }
}

.flex-item {
  width: 100%
}

.text-section {
  height: 100vh;
  min-height: 720px;
  background-color: $background-color;
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(space-between);
}

.text-section-content {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(space-between);
  margin-bottom: 5vw;

  p {
    color: $primary-color;
    width: 45%;
    @include respond-to(handhelds) {
      width: 80%;
    }
    @include respond-to(medium-screens) {
      width: 80%;
    }
    font-family: $secondary-font;
    object-fit: contain;
    font-size: 1em;
    font-weight: 100;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
  }
}

#sc-tag {
  flex: 0;
  @include display-flex();
  @include flex-direction(column);
  width: 90px;
  position: relative;
  top: 0;

  .sc-tag-item {
    background-color: $primary-color;
    color: $text-color;
    text-align: center;
  }

  #sc-logo {
    width: 90px;
    height: 90px;
    img {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 63px;
      height: 52px;
    }
  }

  #sc-backed {
    line-height: 1;
    letter-spacing: normal;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 20px solid $primary-color;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: $background-color;
  }
}

#section-footer-start {
  background-image: url("http://d37flwhmqpls8z.cloudfront.net/img/ships-large.jpg");
  background-position: center center;
  @include background-size(cover);
  width: 100%;
  height: 90vh;

  h1 {
    color: $background-color;
  }
}

.picture-content {
  height: 100vh;
}

.navbar {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  margin-top: 2vw;
  z-index:1;
  top:0;
  position: relative;

  @include respond-to(handhelds) {
    @include flex-direction(column);
    @include justify-content(flex-start);
    top: 90%;
    bottom:0;
  }
  @include respond-to(medium-screens) {
    @include flex-direction(column);
    @include justify-content(flex-start);
    top: 90%;
    bottom:0;
  }
}

.navbar-item {
  margin-left: 2vw;
  margin-right: 4vw;
}

.top {
  @include respond-to(handhelds) { display: none; }
  @include respond-to(medium-screens) { display: none; }
}


.logo {
  width: 140px;
  height: 80px;
}

.navbar-links {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);

  @include respond-to(handhelds) { display: none; }
  @include respond-to(medium-screens) { display: none; }

  .navbar-link {
    object-fit: contain;
    font-size: 1.5em;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.68;
    letter-spacing: 0.3px;
    color: $background-color;
    margin-left: 4vw;

    a {
      text-decoration: none !important;
    }
  }
}

#location {
  @include display-flex();
  @include flex-direction(row);
  font-size: 1.5em;

  p {
    font-size: 0.8em;
    line-height: 0.94;
    letter-spacing: 0.1px;
    color: $background-color;
    margin-left: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    height: 20px;
  }
  img {
   height: 20px;
  }
}

.btn {
  font-family: $secondary-font;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.0;
  letter-spacing: normal;
  text-align: center;
  margin: 39px;
  color: $text-color;
  min-height: 32px;
  border-radius: 8px;
  border-width: 0px;
  border-color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $primary-color;
}

#section-team {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(space-between);
  width: 100%;
  padding-bottom: 10vh;
  background-color: $background-color;

  @include respond-to(wide-screens) {
    height: 100vh;
    padding-bottom: 0vh;
    background-image: url("http://d37flwhmqpls8z.cloudfront.net/img/team.jpg");
    background-position: center center;
    @include background-size(cover);
  }

  h3 {
    width: 50%;
    font-size: 4em;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: -1px;
    color: $background-color;
    text-align: center;
    margin-top: 3vw;
    @include respond-to(handhelds) {color: $primary-color; }
    @include respond-to(medium-screens) { color: $primary-color; }
  }
}

.roster {
  @include display-flex();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include respond-to(handhelds) { @include flex-direction(column); }
  @include respond-to(medium-screens) { @include flex-direction(column); }
  margin-right: 10vw;
  margin-bottom: 3vw;

  @include respond-to(handhelds) {
    #teemu { order: 4; }
    #alex { order: 5; }
    #anttu { order: 1; }
    #teukka { order: 3; }
    #emma { order: 2; }
  }

  @include respond-to(medium-screens) {
    #teemu { order: 4; }
    #alex { order: 5; }
    #anttu { order: 1; }
    #teukka { order: 3; }
    #emma { order: 2; }
  }


  .roster-item {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    margin-left: 10vw;
    text-align: center;
    @include respond-to(handhelds) {margin-top: 7vh; }
    @include respond-to(medium-screens) {margin-top: 7vh; }

    .roster-img {
      display: none;
      width: 150px;
      @include respond-to(handhelds) { display: block; }
      @include respond-to(medium-screens) { display: block; }
    }

    .roster-name {
      font-size: 2em;
      letter-spacing: normal;
      color: $background-color;
      @include respond-to(handhelds) {
        color: $primary-color;
        margin-top: 2vh;
      }
      @include respond-to(medium-screens) {
        color: $primary-color;
        margin-top: 2vh;
      }
    }
    .roster-title {
      font-size: 1em;
      color: $background-color;
      margin-top: 1vh;
      font-family: $secondary-font;
      @include respond-to(handhelds) {color: $primary-color; }
      @include respond-to(medium-screens) { color: $primary-color; }
    }
  }
}

#section-careers {
  width: 100%;
}

.positions {
  @include display-flex();
  @include flex-direction(row);
  @include respond-to(handhelds) {
    @include flex-direction(column);
    @include justify-content(center);
  }
  @include respond-to(medium-screens) {
    @include flex-direction(column);
    @include justify-content(center);
  }
  height: 720px;

  @include respond-to(handhelds) {
    height: 720px;
  }
  @include respond-to(medium-screens) {
    height: 720px;
  }
}

.position {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(space-between);

  flex: 1;
  height: 100%;

  p {
    color: #000000;
    object-fit: contain;
    font-size: 1em;
    font-weight: 100;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
  }
}

.position-content {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  margin-bottom: 10%;
  width: 52%;
  height: 30%;
}

#game-artist {
  width: 100%;
  height: 100%;
  background-color: $background-color;
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  @include respond-to(wide-screens) {
    background: radial-gradient(circle, $background-color 50%, $primary-color 50%);
  }
  @include respond-to(handhelds) {
    background: radial-gradient(circle, $primary-color 50%, $background-color 50%);
    color: $background-color;
  }
  @include respond-to(medium-screens) {
    background: radial-gradient(circle, $primary-color 50%, $background-color 50%);
    color: $background-color;
  }

  h5 {
    font-size: 5em;
    @include respond-to(handhelds) {
      font-size: 2.5em;
      color: $background-color;
    }
    @include respond-to(medium-screens) {
      font-size: 2.5em;
      color: $background-color;
    }
  }

  .contact {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    font-family: $secondary-font;
    line-height: 2;
    a {
      color: inherit;
      text-decoration: none !important;
    }
  }
}

#shipper-developer  {
  background: $background-color;

  h1 {
    margin: 0;
    @include respond-to(handhelds) {
      display: none;
    }
    @include respond-to(medium-screens) {
      display: none;
    }
  }

  .position-content {
    height: 100%;
    width: 90%;
    box-shadow: 2vw 2vw 0 0 $primary-color inset, -2vw -2vw 0 0 $primary-color inset;
    margin-bottom: 5%;
    @include respond-to(handhelds) {
      width: 80%;
    }
    @include respond-to(medium-screens) {
      width: 80%;
    }

    p {
      font-family: $secondary-font;
      font-size: 1em;
      @include respond-to(wide-screens) {
        width: 52%;
      }
      @include respond-to(handhelds) {
        padding: 10%;
      }
      @include respond-to(medium-screens) {
        padding: 10%;
      }
    }
    h5 {
      font-size: 5em;
      @include respond-to(handhelds) {
        font-size: 2.5em;
      }
      @include respond-to(medium-screens) {
        font-size: 2.5em;
      }
    }
  }
}

#background {
  background-image: url("http://d37flwhmqpls8z.cloudfront.net/img/shipyard-background-good.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  @include background-size(cover);
  width: 100%;
  height: 80.7vh;
}

.footer {
  background-color: $background-color;
  height: 120px;
  @include display-flex();
  @include flex-direction(row);

  @include respond-to(handhelds) {
    @include justify-content(space-between);
    @include flex-direction(column);
    @include align-items(center);
    height: 80%;
    padding-top: 10vh;
  }

  @include respond-to(medium-screens) {
    @include justify-content(space-between);
    @include flex-direction(column);
    @include align-items(center);
    height: 80%;
    padding-top: 10vh;
  }

  @include respond-to(wide-screens) {
    @include justify-content(space-between);
    padding-left: 20vw;
  }

  .footer-item {
    flex: 1;
    font-size: 1.0em;
    font-family: $secondary-font;
    color: $primary-color;
    margin-top: 2.5vh;
    @include display-flex();
    @include flex-direction(column);

    @include respond-to(handhelds) {
      margin-top: 1vh;
    }
    @include respond-to(medium-screens) {
      margin-top: 1vh;
    }
    @include respond-to(wide-screens) {
      margin-top: 40px;
    }
    a {
      color: inherit;
      text-decoration: none !important;
    }
  }

  .logo {
    background: url("http://d37flwhmqpls8z.cloudfront.net/img/logo_red.svg");
    background-repeat: no-repeat;
    background-size: auto;
  }
}

#fb-footer-item {
  @include display-flex();
  @include flex-direction(row);
  font-weight: bold;
  @include respond-to(handhelds) {
    margin-top: 10vh;
  }
  @include respond-to(medium-screens) {
    margin-top: 10vh;
  }
}

#fb-logo {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}
