.BigNoodleTitling {
  font-family: BigNoodleTitling;
  font-weight: normal;
  font-style: normal; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  font-family: BigNoodleTitling;
  background-color: #34394C; }

h1 {
  object-fit: contain;
  font-size: 2em;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.96;
  letter-spacing: normal;
  color: #FF4541;
  text-align: center; }

h2 {
  object-fit: contain;
  font-size: 4em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -1px;
  text-align: center;
  color: #fafafa; }

h3 {
  width: 50%;
  font-size: 5em;
  line-height: 0.93;
  line-height: 1.06;
  text-align: center;
  color: #FF4541;
  text-align: center;
  margin-bottom: 2vh;
  margin-top: 20vh; }
  @media only screen and (max-width: 320px) {
    h3 {
      width: 80%;
      font-size: 2.5em; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    h3 {
      width: 80%;
      font-size: 2.5em; } }

h4 {
  object-fit: contain;
  font-size: 1.6em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #fafafa;
  margin-top: 5px;
  margin-bottom: 5px; }

h5 {
  object-fit: contain;
  font-size: 3.2em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 1px;
  text-align: center;
  color: #182224;
  margin: 5px; }

a {
  color: #fafafa; }

a:visited {
  color: #fafafa; }

a:hover {
  color: #FF4541; }

a:active {
  color: #fafafa; }

a.btn {
  text-decoration: none;
  color: #fafafa; }

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  overflow-x: hidden;
  font-size: 15px;
  height: auto; }
  @media only screen and (max-width: 320px) {
    .flex-container {
      font-size: 14px; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    .flex-container {
      font-size: 14px; } }

.flex-item {
  width: 100%; }

.text-section {
  height: 100vh;
  min-height: 720px;
  background-color: #fff9e7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.text-section-careers {
  background-color: #fff9e7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.text-section-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 15vw; }
  .text-section-content p {
    color: #FF4541;
    width: 45%;
    font-family: Lato;
    object-fit: contain;
    font-size: 1em;
    font-weight: 100;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center; }
    @media only screen and (max-width: 320px) {
      .text-section-content p {
        width: 80%; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      .text-section-content p {
        width: 80%; } }

.text-section-content-careers {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: #fff9e7;
  margin-top: 20vh;
  margin-bottom: 5vh; }
  .text-section-content-careers p {
    color: #FF4541;
    width: 80%;
    font-family: Lato;
    object-fit: contain;
    font-size: 1em;
    font-weight: 100;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    margin-top: 5vh; }
    @media only screen and (max-width: 320px) {
      .text-section-content-careers p {
        width: 80%; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      .text-section-content-careers p {
        width: 80%; } }
  .text-section-content-careers ul {
    width: 80%; }
  .text-section-content-careers li {
    font-weight: 100;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    font-size: 1em;
    font-family: Lato; }
  .text-section-content-careers a {
    color: #FF4541; }
  .text-section-content-careers h2 {
    margin-top: 10%;
    color: #FF4541; }
  .text-section-content-careers h3 {
    text-align: left;
    font-size: 1.5em;
    width: 80%; }

.container-careers {
  background-color: #fff9e7; }

#sc-tag {
  flex: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 0; }
  #sc-tag .sc-tag-item {
    background-color: #FF4541;
    color: #fafafa;
    text-align: center; }
  #sc-tag #sc-logo {
    width: 90px;
    height: 90px; }
    #sc-tag #sc-logo img {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 63px;
      height: 52px; }
  #sc-tag #sc-backed {
    line-height: 1;
    letter-spacing: normal;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px; }
  #sc-tag .arrow-down {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 20px solid #FF4541;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: #fff9e7; }

#sy-tag {
  flex: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 0;
  color: inherit;
  text-decoration: none !important; }
  #sy-tag .sc-tag-item {
    background-color: #FF4541;
    color: #fafafa;
    text-align: center; }
  #sy-tag #sc-logo {
    width: 180px;
    height: 90px; }
    #sy-tag #sc-logo img {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 63px;
      height: 52px; }
  #sy-tag #sc-backed {
    line-height: 1;
    letter-spacing: normal;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px; }
  #sy-tag .arrow-down {
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 20px solid #FF4541;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: #fff9e7; }

#section-footer-start {
  background-image: url("http://d37flwhmqpls8z.cloudfront.net/img/ships-large.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90vh; }
  #section-footer-start h1 {
    color: #fff9e7; }

.picture-content {
  height: 100vh; }

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 2vw;
  z-index: 1;
  top: 0;
  position: relative; }
  @media only screen and (max-width: 320px) {
    .navbar {
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      top: 90%;
      bottom: 0; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    .navbar {
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      top: 90%;
      bottom: 0; } }

.navbar-item {
  margin-left: 2vw;
  margin-right: 4vw; }

@media only screen and (max-width: 320px) {
  .top {
    display: none; } }
@media only screen and (min-width: 321px) and (max-width: 719px) {
  .top {
    display: none; } }

.logo {
  width: 140px;
  height: 80px; }

.navbar-links {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media only screen and (max-width: 320px) {
    .navbar-links {
      display: none; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    .navbar-links {
      display: none; } }
  .navbar-links .navbar-link {
    object-fit: contain;
    font-size: 1.5em;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.68;
    letter-spacing: 0.3px;
    color: #fff9e7;
    margin-left: 4vw; }
    .navbar-links .navbar-link a {
      text-decoration: none !important; }

#location {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-size: 1.5em; }
  #location p {
    font-size: 0.8em;
    line-height: 0.94;
    letter-spacing: 0.1px;
    color: #fff9e7;
    margin-left: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    height: 20px; }
  #location img {
    height: 20px; }

.btn {
  font-family: Lato;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.0;
  letter-spacing: normal;
  text-align: center;
  margin: 39px;
  color: #fafafa;
  min-height: 32px;
  border-radius: 8px;
  border-width: 0px;
  border-color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FF4541; }

#team {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10vh;
  background-color: #fff9e7; }
  @media only screen and (min-width: 720px) {
    #team {
      height: 100vh;
      padding-bottom: 0vh;
      background-image: url("http://d37flwhmqpls8z.cloudfront.net/img/team.jpg");
      background-position: center center;
      background-size: cover; } }
  #team h3 {
    width: 50%;
    font-size: 4em;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: -1px;
    color: #fff9e7;
    text-align: center;
    margin-top: 3vw; }
    @media only screen and (max-width: 320px) {
      #team h3 {
        color: #FF4541; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      #team h3 {
        color: #FF4541; } }

.roster {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-right: 10vw;
  margin-bottom: 3vw; }
  @media only screen and (max-width: 320px) {
    .roster {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    .roster {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (max-width: 320px) {
    .roster #teemu {
      order: 4; }
    .roster #alex {
      order: 5; }
    .roster #anttu {
      order: 1; }
    .roster #teukka {
      order: 3; }
    .roster #emma {
      order: 2; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    .roster #teemu {
      order: 4; }
    .roster #alex {
      order: 5; }
    .roster #anttu {
      order: 1; }
    .roster #teukka {
      order: 3; }
    .roster #emma {
      order: 2; } }
  .roster .roster-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 10vw;
    text-align: center; }
    @media only screen and (max-width: 320px) {
      .roster .roster-item {
        margin-top: 7vh; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      .roster .roster-item {
        margin-top: 7vh; } }
    .roster .roster-item .roster-img {
      display: none;
      width: 150px; }
      @media only screen and (max-width: 320px) {
        .roster .roster-item .roster-img {
          display: block; } }
      @media only screen and (min-width: 321px) and (max-width: 719px) {
        .roster .roster-item .roster-img {
          display: block; } }
    .roster .roster-item .roster-name {
      font-size: 2em;
      letter-spacing: normal;
      color: #fff9e7; }
      @media only screen and (max-width: 320px) {
        .roster .roster-item .roster-name {
          color: #FF4541;
          margin-top: 2vh; } }
      @media only screen and (min-width: 321px) and (max-width: 719px) {
        .roster .roster-item .roster-name {
          color: #FF4541;
          margin-top: 2vh; } }
    .roster .roster-item .roster-title {
      font-size: 1em;
      color: #fff9e7;
      margin-top: 1vh;
      font-family: Lato; }
      @media only screen and (max-width: 320px) {
        .roster .roster-item .roster-title {
          color: #FF4541; } }
      @media only screen and (min-width: 321px) and (max-width: 719px) {
        .roster .roster-item .roster-title {
          color: #FF4541; } }

#careers {
  width: 100%; }

.positions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 720px; }
  @media only screen and (max-width: 320px) {
    .positions {
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    .positions {
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center; } }
  @media only screen and (max-width: 320px) {
    .positions {
      height: 150vh; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    .positions {
      height: 150vh; } }

.position {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex: 1;
  height: 100%; }
  .position p {
    color: #000000;
    object-fit: contain;
    font-size: 1em;
    font-weight: 100;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center; }

.position-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 30%;
  width: 84%;
  margin-bottom: 8%; }

#contact {
  width: 100%;
  height: 100%;
  background-color: #fff9e7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
  @media only screen and (min-width: 720px) {
    #contact {
      background: radial-gradient(circle, #fff9e7 50%, #FF4541 50%); } }
  @media only screen and (max-width: 320px) {
    #contact {
      background: radial-gradient(circle, #FF4541 50%, #fff9e7 50%);
      color: #fff9e7; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    #contact {
      background: radial-gradient(circle, #FF4541 50%, #fff9e7 50%);
      color: #fff9e7; } }
  #contact h5 {
    font-size: 5em; }
    @media only screen and (max-width: 320px) {
      #contact h5 {
        font-size: 2.5em;
        color: #fff9e7; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      #contact h5 {
        font-size: 2.5em;
        color: #fff9e7; } }
  #contact .contact {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-family: Lato;
    line-height: 2;
    margin-top: 15px; }
    #contact .contact a {
      color: inherit;
      text-decoration: none !important; }

.contact-careers {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-top: 5vh;
  margin-bottom: 5vh; }
  .contact-careers .contact-item {
    font-size: 1.2em;
    margin-right: 3vw;
    color: #34394C; }

#careers {
  background: #fff9e7; }
  #careers h1 {
    line-height: 1.9;
    margin: 0; }
    @media only screen and (max-width: 320px) {
      #careers h1 {
        display: none; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      #careers h1 {
        display: none; } }
  #careers .position-content {
    height: 100%;
    width: 80%;
    box-shadow: 2vw 2vw 0 0 #FF4541 inset, -2vw -2vw 0 0 #FF4541 inset;
    margin-bottom: 10%;
    margin-top: 2%; }
    @media only screen and (max-width: 320px) {
      #careers .position-content {
        width: 80%; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      #careers .position-content {
        width: 80%; } }
    #careers .position-content p {
      font-family: Lato;
      font-size: 1em; }
      @media only screen and (min-width: 720px) {
        #careers .position-content p {
          width: 52%; } }
      @media only screen and (max-width: 320px) {
        #careers .position-content p {
          padding: 10%; } }
      @media only screen and (min-width: 321px) and (max-width: 719px) {
        #careers .position-content p {
          padding: 10%; } }
    #careers .position-content h5 {
      font-size: 5em; }
      @media only screen and (max-width: 320px) {
        #careers .position-content h5 {
          font-size: 2.5em; } }
      @media only screen and (min-width: 321px) and (max-width: 719px) {
        #careers .position-content h5 {
          font-size: 2.5em; } }

#background {
  background-image: url("http://d37flwhmqpls8z.cloudfront.net/img/shipyard-background-good.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80.7vh; }

.footer {
  background-color: #34394C;
  height: 120px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  @media only screen and (max-width: 320px) {
    .footer {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      height: 80%;
      padding-top: 10vh; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    .footer {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      height: 80%;
      padding-top: 10vh; } }
  @media only screen and (min-width: 720px) {
    .footer {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding-left: 20vw; } }
  .footer .footer-item {
    flex: 1;
    font-size: 1.0em;
    font-family: Lato;
    color: #FF4541;
    margin-top: 2.5vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
    @media only screen and (max-width: 320px) {
      .footer .footer-item {
        margin-top: 1vh; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      .footer .footer-item {
        margin-top: 1vh; } }
    @media only screen and (min-width: 720px) {
      .footer .footer-item {
        margin-top: 40px; } }
    .footer .footer-item a {
      color: inherit;
      text-decoration: none !important; }
  .footer .logo {
    background: url("http://d37flwhmqpls8z.cloudfront.net/img/logo_red.svg");
    background-repeat: no-repeat;
    background-size: auto; }

#fb-footer-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-weight: bold; }
  @media only screen and (max-width: 320px) {
    #fb-footer-item {
      margin-top: 10vh; } }
  @media only screen and (min-width: 321px) and (max-width: 719px) {
    #fb-footer-item {
      margin-top: 10vh; } }

#fb-logo {
  margin-right: 20px;
  width: 20px;
  height: 20px; }

#news {
  height: auto;
  min-height: 100vh; }
  #news h1 {
    margin-top: 0vw;
    margin-bottom: 3vw;
    line-height: 1.0; }
  #news h3 {
    width: 50%;
    font-size: 4em;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: -1px;
    color: #FF4541;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw; }

/*# sourceMappingURL=stylesheet.css.map */
